## Air Quality in Pittsburgh

### Introduction
Air quality is a sneakily important category in considering the best town for biking in Pittsburgh. Air quality can have a drastic affect on the quality of ride a biker has. Especially factoring in the possibility of asthma, ensuring proper circulation throughout the body is extremely important. Biking in a place with the best possible air quality will help ensure the best performance and best time riding your bike

### The Metric
For my metric, I specifically averaged out the index value of the air quality on a day-to-day scale. Polling this information allows you to analyze the best city to bike throughout Pittsburgh. Through this, I was able to calculate a hierarchy for the best places in terms of bikers health throughout Pittsburgh

### Importing Libraries

In [8]:
import pandas as pd
%matplotlib inline

### Importing our DataSet

In [28]:
air = pd.read_csv("daily-air-quality.csv", index_col="date", parse_dates=True)
air.head(10)

,site,parameter,index_value,description,health_advisory,health_effects
date,,,,,,
2016-01-01,Lawrenceville,PM25B,25,Good,NaN,NaN
2016-01-01,Flag Plaza,CO,0,Good,NaN,NaN
2016-01-01,Harrison Township,OZONE,31,Good,NaN,NaN
2016-01-01,Avalon,SO2,10,Good,NaN,NaN
2016-01-01,Lincoln,PM25,35,Good,NaN,NaN
2016-01-01,Lincoln,PM10,11,Good,NaN,NaN
2016-01-01,South Fayette,SO2,3,Good,NaN,NaN
2016-01-01,North Braddock,PM10B,12,Good,NaN,NaN
2016-01-01,Parkway East,CO,4,Good,NaN,NaN
2016-01-01,Flag Plaza,PM10,7,Good,NaN,NaN

### Manipulating our Data
Now, we want to look at this data specifically focusing on our index_value. To start with this, we will take a look at all average `index_value`'s for every town.

In [43]:
sorted = air.groupby("site")["index_value"].describe()
sorted.sort_values(by='mean', inplace=True)
sorted.head(10)

,count,mean,std,min,25%,50%,75%,max
site,,,,,,,,
Lawrenceville 2,4528.0,3.116166,2.444475,0.0,2.0,3.0,4.0,30.0
West Mifflin,301.0,6.335548,7.178930,0.0,1.0,4.0,9.0,44.0
Clairton,329.0,7.273556,10.464717,0.0,1.0,3.0,9.0,69.0
Flag Plaza,4002.0,9.949275,10.078134,0.0,0.0,8.0,16.0,57.0
Glassport High Street,2272.0,17.089349,10.364575,2.0,9.0,15.0,22.0,82.0
North Braddock,4882.0,18.011061,15.623459,0.0,4.0,16.0,28.0,114.0
Liberty,2285.0,18.686652,19.607663,0.0,3.0,13.0,27.0,137.0
South Fayette,4406.0,20.471403,20.725906,0.0,1.0,9.0,38.0,118.0
Avalon,3843.0,21.316419,21.709257,0.0,0.0,19.0,38.0,115.0
Parkway East,6804.0,22.226337,16.880865,2.0,9.0,17.0,31.0,153.0

### Interpretations
Lets look down on our initial towns to narrow down what we are looking for, by eliminating our top objects.
* Lawrenceville 2 dictates that there are parts of Lawrenceville does not have as good of an air quality index as other parts. Let's investigate this.

In [ ]:
air = pd.read_csv("daily-air-quality.csv", index_col="date", parse_dates=True)
air.head(10)